<li>
	{{wish_name}}

	<button class="change-made" data-id="{{id}}" data-newmade="{{made}}">
		{{#if made}}make this wish!{{else}}save my wish!{{/if}}
	</button>

	<button class="delete-wish" data-id="{{this.id}}">delete me!</button>
</li>
