<li>
	{{wish_name}}

	<button class="change-made" data-id="{{id}}" data-newmade="{{made}}">
		{{#if made}}make a wish!{{else}}wishes made{{/if}}
	</button>

	<button class="delete-wish" data-id="{{this.id}}">DELETE!</button>
</li>
